.card {
  width: 100%;
  display: flex;
  justify-content: space-between;

  &__list{
    width: 50%;
    border: 1px solid black;
    position: relative;
  }
  &__options{
    width: 50%;
    border: 1px solid blue;
    position: relative;
  }
  &__avatar{
    width: 75px;
    height: 75px;
    border-radius: 50%;

  }
  &__item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    height: 80px;
    border-radius: 20px;
    background: rgb(252, 243, 243);
    background: -webkit-linear-gradient(77deg, rgb(252, 243, 243) 0%, rgb(32, 238, 33) 92%);
    background: -o-linear-gradient(77deg, rgb(252, 243, 243) 0%, rgb(32, 238, 33) 92%);
    background: -ms-linear-gradient(77deg, rgb(252, 243, 243) 0%, rgb(32, 238, 33) 92%);
    background: linear-gradient(77deg, rgb(252, 243, 243) 0%, rgb(32, 238, 33) 92%);
    margin: 5px;
    position: relative;
  }
  &__phone{
    margin: 10px;
  }
  &__name{
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
  }
  &__arrow {
    display: none;
  }
  &__avabox {
    width: 20%;
  }
  &__info {
    width: 50%;
  }
  &__interests {
    width: 30%;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    color: white;
    padding: 10px;
  }
}
.active {
  background: rgb(252, 243, 243);
  background: -webkit-linear-gradient(77deg, rgb(252, 243, 243) 0%, rgb(207, 244, 33) 21%);
  background: -o-linear-gradient(77deg, rgb(252, 243, 243) 0%, rgb(207, 244, 33) 21%);
  background: -ms-linear-gradient(77deg, rgb(252, 243, 243) 0%, rgb(207, 244, 33) 21%);
  background: linear-gradient(77deg, rgb(252, 243, 243) 0%, rgb(207, 244, 33) 21%);
}
.visible {
  position: absolute;
  right: -20px;
  border: 10px solid transparent; border-right: 10px solid rgb(207, 244, 33);
  display: block;
}