.header {
  display: flex;
  justify-content: center;
  height: 40px;
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;

  &__text {
    margin: 10px 15px;
    color: white;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  &__arrow {
    margin: 0 5px;
  }
  &__add-btn {
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    border-style: solid;
    box-shadow: 2px 3px 2px black;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    z-index: 20;

  }
  &__icon {
    font-size: 25px;
  }
  &__filter{
    display: flex;
    justify-content: center;
    align-items: center;

    &-icon{
      font-size: 18px;
      color: white;
      margin-left: 10px;
    }
  }

}