.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 15px;
  background-color: rgb(207, 244, 33);
  max-width: 400px;
  border-radius: 20px;
  height: 590px;

  &__avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  &__name {
    font-size: 20px;
    font-weight: bold;
  }
  &__phone {
    font-size: 18px;
    margin: 10px;
    a {
      text-decoration: none;
      color: black;
      ;
    }
  }
  &__interests {
    width: 250px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
    font-size: 30px;

  &-box {
    position: relative;
  }
  }
  &__title{
    width: 100%;
    background-color: black;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 5px 0;
  }
  &__menu {
    height: 40px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;

    &-icon {
      font-size: 30px;
      cursor: pointer;
    }
  }
}
.setting {
  width: 250px;
  height: 250px;
  background: no-repeat center/100% url("../images/backgrounds/back4.png");
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -20px;
  left: 45%;
  transform: rotate(20deg);
  &__btn-delete{
    width: 150px;
    height: 40px;
    background-color: rgba(235, 40, 40, 0.7);
    border-radius: 5px;
    border-style: solid;
    margin-top: 10px;
    box-shadow: 2px 3px 2px black;
    font-size: 16px;
    transform: rotate(-5deg);
    font-weight: bold;
    cursor: pointer;
  }
  &__btn-change{
    width: 150px;
    height: 40px;
    background-color: rgba(235, 111, 40, 0.7);
    border-radius: 5px;
    border-style: solid;
    margin-top: 10px;
    box-shadow: 2px 3px 2px black;
    font-size: 16px;
    position: absolute;
    top: 40px;
    transform: rotate(-10deg);
    color: white;
    cursor: pointer;
  }
  &__btn-close{
    font-size: 20px;
    position: absolute;
    top: 45px;
    left: 25px;
    cursor: pointer;
  }
}